<h1 class="header">State management performance test</h1>

<app-tabs-handler [tabs]="tabs"></app-tabs-handler>

<ng-template #ngrx>
  <app-ngrx-container></app-ngrx-container>
</ng-template>

<ng-template #ngxs>
  <app-ngxs-container></app-ngxs-container>
</ng-template>

<ng-template #comparison>
  <div class="comparison">
    <app-ngrx-container></app-ngrx-container>
    <div>
      <nz-divider class="divider" nzType="vertical"></nz-divider>
    </div>
    <app-ngxs-container></app-ngxs-container>
  </div>
</ng-template>